# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage
/test-out

# production
/dist
/tmp
/out-tsc
/bazel-out

# misc
.DS_Store
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.history/*
/.angular/cache
.sass-cache/
/connect.lock
/libpeerconnection.log
testem.log
/typings
__screenshots__/
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
