body{
  height: 100%;
  min-height: 100%;
  min-width: 100%;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: small;
  color: #666666;
}

#jscad{
  width: 100%;
  height: 100%;
}

form {
  position: fixed;
  top: 10px;
  right: 4px;
  padding: 8px;
}

input {
  display: block;
  margin: 8px;
  padding: 4px;
  border: 1px solid #666666;
  border-radius: 3px;
}

label {
  margin-left: 8px;
}

#download {
  position: fixed;
  top: 0;
  left: 0;
  display: block;
  margin: 8px;
  padding: 0;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}

#download img {
  width: 48px;
  height: 48px;
}

#modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  background: rgba(0,0,0,0.5);
  display: none;
}

#modal.open {
  display: block;
}

#modal-content {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 50%;
  height: 50%;
  padding: 0;
  margin: 0;
  background: #fff;
  transform: translate(-50%, -50%);
  border-radius: 4px;
}

#close {
  position: absolute;
  top: 0;
  right: 8px;
  display: block;
  padding: 8px;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 24px;
}

#export {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #1a79cc;
  border: none;
  border-radius: 3px;
  padding: 12px;
  cursor: pointer;
}