<div class="funding">
  <a href="https://github.com/sponsors/bruceborrett" target="_blank" rel="noreferrer">
    <img
      src="https://img.shields.io/static/v1?label=Sponsor&message=%E2%9D%A4&logo=GitHub&color=%232f5d85"
      alt="Sponsor on GitHub"
      loading="lazy"
    />
  </a>

  <a href="https://www.buymeacoffee.com/bruceborrett" target="_blank" rel="noreferrer">
    <img
      src="https://cdn.buymeacoffee.com/buttons/default-blue.png"
      alt="Buy Me A Coffee"
      loading="lazy"
    />
  </a>

  <iframe
    title="GitHub stars"
    class="github-stars"
    src="https://ghbtns.com/github-btn.html?user=bruceborrett&repo=easy-enclosure&type=star&count=true&size=large"
    width="170"
    height="30"
    loading="lazy"
  ></iframe>
</div>
